## SQL ALCHEMY ##

In [32]:
!pip install sqlalchemy==1.3.24
!pip install pymysql
!pip install mysql-connector-python

Requirement already satisfied: sqlalchemy==1.3.24 in /Users/davidusuariocasa/opt/anaconda3/lib/python3.9/site-packages (1.3.24)
Requirement already satisfied: pymysql in /Users/davidusuariocasa/opt/anaconda3/lib/python3.9/site-packages (1.0.3)
Requirement already satisfied: mysql-connector-python in /Users/davidusuariocasa/opt/anaconda3/lib/python3.9/site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /Users/davidusuariocasa/opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.20.3)

In [59]:
import pandas as pd
import numpy as np
import sqlalchemy as alch

from getpass import getpass
from tqdm import tqdm

In [60]:
password = getpass("Contraseña de MySQL: ")

Contraseña de MySQL: ········

In [61]:
clean = pd.read_csv('/Users/davidusuariocasa/Desktop/Projects/ETL_project/Data/scrapped_clean.csv')

In [62]:
# We store our database name in a variable
database = "Movies"

# We connect with SQL
conexion = f"mysql+pymysql://root:{password}@localhost/{database}"

In [63]:
engine = create_engine(conexion)

In [64]:
clean # This is the df that we want to import to SQL

,Film year,Ceremony year,Ceremony number,Winning category,Winner name,Film title,Film Duration,Film score
0,1927,1928,1,Actor,Emil Jannings,The Last Command,88,80.0
1,1927,1928,1,Art Direction,William Cameron Menzies,The Dove;,90,65.0
2,1927,1928,1,Cinematography,Charles Rosher,Sunrise,94,81.0
3,1927,1928,1,Cinematography,Karl Struss,Sunrise,94,81.0
4,1927,1928,1,Directing (comedy Picture),Lewis Milestone,Two Arabian Knights,92,67.0
...,...,...,...,...,...,...,...,...
1931,2022,2023,95,Sound,"Mark Weingarten, James H. Mather, Al Nelson, C...",Top Gun: Maverick,130,83.0
1932,2022,2023,95,Visual Effects,"Joe Letteri, Richard Baneham, Eric Saindon and...",Avatar: The Way of Water,192,76.0
1933,2022,2023,95,Writing (adapted Screenplay),Screenplay by Sarah Polley,Women Talking,104,69.0
1934,2022,2023,95,Writing (original Screenplay),Written by Daniel Kwan & Daniel Scheinert,Everything Everywhere All at Once,139,78.0
1935,2022,2023,95,Award Of Commendation,To Ryan Laney for his innovative adaptation an...,Welcome to Chechnya,107,79.0

In [38]:
for index, row in clean.iterrows():
    try:
        query = f"""
        INSERT INTO clientes (opp_id, name, email, city) 
        VALUES ('{row["Opportunity ID"]}', '{row["Name"]}', '{row["Email"]}', '{row["City"]}');
        """
        print(query)
        engine.execute(query)
    except:
        print(row["Opportunity ID"])

KeyError: 'Opportunity ID'

## 'Films' table ##

In [67]:
for index, row in clean.iterrows():
    try:
        engine.execute(f"""
            INSERT INTO Films ('Film year', 'Film title', 'Film duration') VALUES
            ('{row["Film year"]}', '{row["Film title"]}', '{row["Film Duration"]}');""")
        engine.commit()  # Confirmar los cambios y hacer un commit
    except:
        pass

## 'Categories' table ##

In [24]:
for index, row in clean.iterrows():

    try: 

        engine.execute(f"""
            INSERT INTO Categories (Winning category) VALUES
            ('{row["Winning category"]}');""")
    
    except: 

        pass

## 'Winners' table ##

In [69]:
for index, row in clean.iterrows():
    
    try:
        
        engine.execute(f"""
            INSERT INTO Winners ('Ceremony year', 'Ceremony number', 'Winner name', 'Film score') VALUES
            ('{row["Ceremony year"]}', '{row["Ceremony number"]}', '{row["Winner name"]}', '{row["Film score"]}');""")
        
        engine.commit()  # Confirmar los cambios y hacer un commit
        
    except:
        
        pass